<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Subcribe</servlet-name>
		<servlet-class>eu.play_project.play_eventadapter_facebook.SubcribeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FacebookAuth</servlet-name>
		<servlet-class>eu.play_project.play_eventadapter_facebook.FacebookAuthServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FacebookRealtime</servlet-name>
		<servlet-class>eu.play_project.play_eventadapter_facebook.FacebookRealtimeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreateDBServlet</servlet-name>
		<servlet-class>eu.play_project.play_eventadapter_facebook.CreateDBServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Subcribe</servlet-name>
		<url-pattern>/subcribe</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FacebookAuth</servlet-name>
		<url-pattern>/facebookAuth</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FacebookRealtime</servlet-name>
		<url-pattern>/facebookRealtime</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateDBServlet</servlet-name>
		<url-pattern>/database</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
